<!DOCTYPE html>
<html>
<head>
  <title>ClimbCalifornia</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= yield %>



<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
 <script type='text/javascript'
  src='<%= @google  %>'>
</script>

  <div class='login-errors'>
    <% if flash[:errors]  %>
      <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
  </div>
    <% end  %>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script> 
</body>
</html>
